{{#got}}
<h1>Boss Payment History (3 month detail)</h1>
{{#body}}
<div class="payment">
<hr style="clear: both"/>
<div style="float: left">{{{info}}}</div>
<div style="float: left">{{{detail}}}</div>
<div style="float: left">{{{billing}}}</div>
<div style="float: left">{{{comment}}}</div>{{#extra}}
<div style="float: left">{{{extra}}}</div>{{/extra}}
</div>
{{/body}}
{{/got}}
