{{#got}}
<h1>Boss Orders and Tracking</h1>
{{#body}}
{{{table}}}
{{{pagination}}}
{{#content}}
<hr style="clear: both"/>
<div style="float: left">{{{orderinfo}}}</div>
<div style="float: left">{{{items}}}</div>
<div style="float: left">{{{comments}}}</div>
{{/content}}
{{/body}}
{{/got}}
